@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-size: auto;
    background-color:#EEEEEE;
    background-image: url(./img/Group\ 141.png);
    background-repeat: no-repeat;
}

/* HEADER */
header{
    max-width: 2000px;
    height: 80px;
    left: 0px;
    background-color: white;
}

.Logo{
    position: absolute;
    width: 40px;
    height: 38.15px;
    left: 175px;
    top: 21px;
}

.menu{
    position: absolute;
    width: 100px;
    height: 15px;
    left: 349px;
    top: 32px;
}

.command{
    text-decoration: none;
    position: absolute;
    width: 97px;
    height: 15px;
    left: 499px;
    top: 32px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.contact{
    text-decoration: none;
    position: absolute;
    width: 73px;
    height: 15px;
    left: 646px;
    top: 32px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.theme{
    display: flex;
    position: absolute;
    width: 40px;
    height: 20px;
    left: 1080px;
    top: 30px;
}

.switch{
    position: relative;
    width: 40px;
    height: 20px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #7A7A7A;;
    transition: .4s;
}

.slider::before{
    position: absolute;
    content: url(./img/day.svg);
    width: 20.5px;
    height: 20px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider{
    background-color: #7A7A7A;;
}

input:checked + .slider::before{
    content: url(./img/night.svg);
    transform: translateX(20px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round::before{
    border-radius: 50%;
}

.user{
    position: absolute;
    width: 94px;
    height: 15px;
    left: 1171px;
    top: 33px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    text-align: right;
}
/* /HEADER */

/* BODY */
.container{
    width: 1090px;
    height: 3202px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

h1{
    position: absolute;
    width: 386px;
    height: 29px;
    left: 527px;
    top: 116px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.hr1{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 181px;

border: 1px solid #000000;
}

.task1 h2{
    position: absolute;
    width: 283px;
    height: 20px;
    left: 578px;
    top: 217px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.task1 h3{
    position: absolute;
    width: 212px;
    height: 15px;
    left: 796px;
    top: 283px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    text-align: right;
    color: #039900;
}

.input-task1{
    position: absolute;
    width: 215px;
    height: 35px;
    left: 432px;
    top: 273px;

    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
}

.fa-search{
    cursor: pointer;
    background: url(./img/Frame\ 105.svg) no-repeat;
}

.input-task1 input {
    width: 215px;
    height: 35px;
    padding: 10px 45px 10px 10px;
    border-radius: 20px;
}

.input-task1 i {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 0;
}

.hr2{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 344px;

    border: 1px solid #000000;
}

.task2 h2{
    position: absolute;
    width: 327px;
    height: 20px;
    left: 557px;
    top: 380px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.task2 h3{
    position: absolute;
    width: 224px;
    height: 15px;
    left: 784px;
    top: 446px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    text-align: right;
    color: #039900;
}

.input-task2{
    position: absolute;
    width: 150px;
    height: 35px;
    left: 432px;
    top: 436px;

    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
}

.fa-search{
    cursor: pointer;
    background: url(./img/Frame\ 105.svg) no-repeat;
}

.input-task2 input {
    width: 150px;
    height: 35px;
    padding: 10px 45px 10px 10px;
    border-radius: 20px;
}

.input-task2 i {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 0;
}

.hr3{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 507px;

    border: 1px solid #000000;
}

.task3 h2{
    position: absolute;
    width: 195px;
    height: 20px;
    left: 622px;
    top: 543px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.score{
    list-style: none;
    position: absolute;
    width: 93px;
    height: 60px;
    left: 952px;
    top: 599px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
}

.game-icons{
    cursor: pointer;
    position: absolute;
    width: 305px;
    height: 60px;
    left: 592px;
    top: 599px;
}

.task3 img{
    margin-right: 38px;
}

.task3 h3{
    position: absolute;
    width: 120px;
    height: 15px;
    left: 660px;
    top: 695px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #039900;
}

.comp-var{
    cursor: pointer;
    position: absolute;
    width: 182px;
    height: 35px;
    left: 629px;
    top: 746px;

    background: #000000;
    border-radius: 20px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;
}

.hr4{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 817px;

    border: 1px solid #000000;
}

.task4 h2{
    position: absolute;
    width: 119px;
    height: 20px;
    left: 660px;
    top: 853px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.number1{
    position: absolute;
    width: 135px;
    height: 35px;
    left: 405px;
    top: 922px;

    background: #D7D7D7;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7E7E7E;
}

.number2{
    position: absolute;
    width: 135px;
    height: 35px;
    left: 678px;
    top: 922px;

    background: #D7D7D7;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7E7E7E;
}

.math-op{
    position: absolute;
    width: 80px;
    height: 60px;
    left: 578px;
    top: 909px;
}

.math-op button{
    cursor: pointer;
    width: 27px;
    height: 25px;

    background: #000000;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;

    margin-right: 10px;
    margin-bottom: 10px;
}

.is{
    cursor: pointer;
    position: absolute;
    width: 27px;
    height: 25px;
    left: 851px;
    top: 927px;

    background: #000000;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;
}

.result{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;

    position: absolute;
    width: 118px;
    height: 35px;
    left: 916px;
    top: 922px;

    background: #D7D7D7;
    border-radius: 20px;
}

.result p{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #7E7E7E;
}

.hr5{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 1005px;

    border: 1px solid #000000;

}

.task5 h2{
    position: absolute;
    width: 163px;
    height: 20px;
    left: 638px;
    top: 1041px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.input-task5{
    position: absolute;
    width: 150px;
    height: 35px;
    left: 487px;
    top: 1097px;

    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
}

.fa-search{
    cursor: pointer;
    background: url(./img/Frame\ 105.svg) no-repeat;
}

.input-task5 input {
    width: 150px;
    height: 35px;
    padding: 10px 45px 10px 10px;
    border-radius: 20px;
}

.input-task5 i {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 0;
}

.dash{
    position: absolute;
    width: 100px;
    height: 0px;
    left: 670px;
    top: 1115px;

    border: 1px dashed #000000;
}

.task5 p{
    position: absolute;
    width: 76px;
    height: 15px;
    left: 803px;
    top: 1107px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.hr6{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 1168px;

    border: 1px solid #000000;
}

.task6 h2{
    position: absolute;
    width: 145px;
    height: 20px;
    left: 647px;
    top: 1204px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.task6 img{
    position: absolute;
    width: 720px;
    height: 241px;
    left: 360px;
    top: 1260px;
}

.hr7{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 1537px;

    border: 1px solid #000000;
}

.task7 h2{
    position: absolute;
    width: 74px;
    height: 20px;
    left: 683px;
    top: 1573px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.field{
    box-sizing: border-box;

    position: absolute;
    width: 720px;
    height: 220px;
    left: 360px;
    top: 1629px;

    background: #5ABB58;
    border: 2px solid #000000;
    border-radius: 37px;
}

.task7 img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 452px;
    top: 1714px;
}

.hr8{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 1885px;

    border: 1px solid #000000;
}

.task8 h2{
    position: absolute;
    width: 141px;
    height: 20px;
    left: 649px;
    top: 1921px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.inputs{
    position: absolute;
    width: 530px;
    height: 35px;
    left: 479px;
    top: 1977px;
}

.task8 input{
    width: 135px;
    height: 35px;
    margin-right: 38px;

    background: #D7D7D7;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7E7E7E;
}

.task8 p{
    position: absolute;
    width: 252px;
    height: 15px;
    left: 594px;
    top: 2048px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.hr9{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 2099px;

    border: 1px solid #000000;
}

.task9 h2{
    position: absolute;
    width: 130px;
    height: 20px;
    left: 649px;
    top: 2135px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.photo{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 645px;
    top: 2191px;

    background: #D9D9D9;
    border-radius: 20px;
}

.task9 h3{
    position: absolute;
    width: 115px;
    height: 17px;
    left: 662px;
    top: 2361px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.task9 p{
    position: absolute;
    width: 320px;
    height: 15px;
    left: 562px;
    top: 2398px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.arrow1{
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 100px;
    left: 317px;
    top: 2216px;
}

.arrow2{
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 100px;
    left: 1123px;
    top: 2216px;
}

.hr10{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 452px;
    top: 2476px;

    border: 1px solid #000000;
}

.task10 h2{
    position: absolute;
    width: 160px;
    height: 20px;
    left: 645px;
    top: 2512px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
/* /BODY */

/* FOOTER */
footer{
    position: absolute;
    width: 1440px;
    height: 220px;
    left: 0px;
    top: 3282px;
    background-color: white;
}