*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-size: auto;
    background-color: rgb(143, 143, 143);
    background-image: url(./img/Group\ 141.png);
    background-repeat: no-repeat;
}

header{
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    background-color: white;
}

.Logo{
    position: absolute;
    width: 40px;
    height: 38.15px;
    left: 175px;
    top: 21px;
}

.menu{
    position: absolute;
    width: 100px;
    height: 15px;
    left: 349px;
    top: 32px;
}

.command{
    position: absolute;
    width: 97px;
    height: 15px;
    left: 499px;
    top: 32px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.contact{
    position: absolute;
    width: 73px;
    height: 15px;
    left: 646px;
    top: 32px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.theme{
    display: flex;
    position: absolute;
    width: 40px;
    height: 20px;
    left: 1080px;
    top: 30px;
}

.switch{
    position: relative;
    width: 40px;
    height: 20px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #7A7A7A;;
    transition: .4s;
}

.slider::before{
    position: absolute;
    content: url(./img/day.svg);
    width: 20.5px;
    height: 20px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider{
    background-color: #7A7A7A;;
}

input:checked + .slider::before{
    content: url(./img/night.svg);
    transform: translateX(20px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round::before{
    border-radius: 50%;
}

.user{
    position: absolute;
    width: 94px;
    height: 15px;
    left: 1171px;
    top: 33px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
/* identical to box height */

    text-align: right;
}



.container{
    position: absolute;
    width: 1090px;
    height: 3202px;
    left: 175px;
    top: 80px;
    background-color: white;
}

.task1{
    width: 215px;
    height: 35px;
    position: relative;
}

.fa-search{
    background: url(./img/Frame\ 105.svg) no-repeat;
}

.task1 input {
    width: 215px;
    height: 35px;
    padding: 10px 45px 10px 10px;
}

.task1 i {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 0;
}



footer{
    position: absolute;
    width: 1440px;
    height: 220px;
    left: 0px;
    top: 3282px;
    background-color: white;
}