*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-size: auto;
    background-color: rgb(143, 143, 143);
    background-image: url(./img/Group\ 141.png);
    background-repeat: no-repeat;
}

header{
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    background-color: white;
}

.Logo{
    position: absolute;
    width: 40px;
    height: 38.15px;
    left: 175px;
    top: 21px;
}

.menu{
    position: absolute;
    width: 100px;
    height: 15px;
    left: 349px;
    top: 32px;
}

.command{
    position: absolute;
    width: 97px;
    height: 15px;
    left: 499px;
    top: 32px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.contact{
    position: absolute;
    width: 73px;
    height: 15px;
    left: 646px;
    top: 32px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.theme{
    position: absolute;
    width: 40px;
    height: 20px;
    left: 1080px;
    top: 30px;

    background: #7A7A7A;
    border-radius: 11px;
}

.user{
    position: absolute;
    width: 94px;
    height: 15px;
    left: 1171px;
    top: 33px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
/* identical to box height */

    text-align: right;
}



.container{
    position: absolute;
    width: 1090px;
    height: 3202px;
    left: 175px;
    top: 80px;
    background-color: white;
}

.task1{
    width: 215px;
    height: 35px;
    position: relative;
}

.fa-search{
    background: url(./img/Frame\ 105.svg) no-repeat;
}

.task1 input {
    width: 215px;
    height: 35px;
    padding: 10px 45px 10px 10px;
}

.task1 i {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 0;
}



footer{
    position: absolute;
    width: 1440px;
    height: 220px;
    left: 0px;
    top: 3282px;
    background-color: white;
}